/**
 * !Footer Navigation
 */
.footer-nav {}
.footer-nav__header {
  @extend .section__header;
  @include hide(off-screen);
  }
.footer-nav__list {
  @extend %list-style-none;
  }
  .footer-nav__list__item {
    display: inline;
    }
    .footer-nav__list__item a {
      color: $black;
      font-weight: 200;
      }