.site-logo {
  @include hide(image-replacement);
  background-image: url(../img/canadian_pairs-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  height: 300px;


  @include breakpoint($bp1, max-width) {
    background-size: contain;
    margin: 0 20px;
  }

  .__name {

  }

  .__tagline {
    display: block;
  }
}

.header--site-logo {
  @extend .site-logo
}