.twitter {
  color: transparent;
  }
  .twitter a {
    margin: 0 auto;
    margin-top: -18px;
    background-image: url(../img/twitter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    @include hide(image-replacement);
    }