/*--------------------*\
  General
\*--------------------*/



a {
  text-decoration: none;
  color: $linkcolor;

  &:visited { color: $linkcolorvisited; }
  &:hover, &:focus, &:active { color: $linkcolorhover; }

  // a[href$=".mp3"] {} attribute type selector
}

/*--------------------*\
  Typography
\*--------------------*/

html {
  @include font-size(100%, 1.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 200;
}

h1 { @include font-size($h1); }
h2 { @include font-size($h2); }
h3 { @include font-size($h3); }
h4 { @include font-size($h4); }
h5 { @include font-size($h5); }
h6 { @include font-size($h6); }
p  { @include font-size($base, 1.5); }
small { @include font-size($small); }

body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  -webkit-font-smoothing: antialiased;
}

p {
  padding: 0 ($horizontal-gutter / 2) 1em;
}

acronym {
	text-transform: uppercase;
}


/* Nested `list-style` types for ordered lists */
ol          { list-style: decimal; }
ol ol       { list-style: upper-alpha; }
ol ol ol    { list-style: lower-roman; }
ol ol ol ol { list-style: lower-alpha; }


p,
table,
textarea,
td,
th {
	@include hyphens(auto);
  @extend %word-break;
}

strong {
  font-weight: 800;
}

em {
  font-style: italic;
}

blockquote {
  margin: 0 0 1em ($horizontal-gutter / 2);
  font-style: italic;
  color: $secondarycolor;

  p {
    border-left: 3px solid $secondarycolor;
    padding-bottom: 0;
  }
}