//
// !Main Site Navigation - Mobile
// ==============================
.main-site-navigation-handler {
  display: none;
}

.main-site-navigation-handler-label {
  display: none;
}

.main-site-navigation {
  @extend %box-sizing;
  @include font-size($base);
  background-color: $secondarycolor;

  .section-heading {
    @extend %zero;
    text-align: center;
    color: $white;
  }

  .__nav-list {
    @extend %list-style-none;
    @extend %box-sizing;
  }

  .__nav-item {

    @include breakpoint($bp3, max-width) {
      display: block;
    }

    &.active {
      a {
        background-color: $primarycolor;
        color: $white;
        border-top-color: lighten($primarycolor, 10%);
        border-bottom-color: darken($primarycolor, 10%);
        padding-left: $horizontal-gutter;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $white;
    text-transform: capitalize;
    padding: 0 ($horizontal-gutter / 4);
    border-bottom: 1px solid darken($secondarycolor, 10%);
    border-top: 1px solid lighten($secondarycolor, 10%);
    transition: padding $transitionSpeed ease-in-out;

    &:hover {
      color: $primarycolor;
      padding-left: $horizontal-gutter / 2;
    }

    &:active {
      border-top-color: darken($secondarycolor, 5);
    }
  }
}

//
// !Main Site Navigation List positioning - Mobile
// ================
.main-site-navigation {
  .__nav-parent {
    .__nav-list {
      height: 0;
      overflow: hidden;
      transition: height $transitionSpeed ease-in-out;
    }
  }

  // expanded state
  .__nav-parent.sfHover {
    background-color: lighten($secondarycolor, 5%);

    // show child list
    & > .__nav-list {
      background-color: rgba(0,0,0,0.2);
      height: auto;
      padding-left: $horizontal-gutter / 2;

      a {
        background-color: lighten($secondarycolor, 5%);
        border-left: 1px solid black;
      }
    }
  }
}

//
// !Main Site Navigation - Full Size
// =================================
@include breakpoint($bp4, min-width) {

  .main-site-navigation {
    .__nav-parent {
      position: relative;

      .__nav-list {
        height: auto;
        overflow: visible;
        position: absolute;
        left: -999em;
        z-index: 2;
      }

      .__nav-item {
        display: block;
        width: 100%;
      }
    }

    // expanded state
    .__nav-parent.sfHover, .__nav-parent:hover {
      padding-left: 0;

      // show child list
      & > .__nav-list {
        left: auto;
        top: 100%;
      }

      // child of child list
      .__nav-parent {
        .__nav-list {
            position: absolute;
            left: -999em;
        }

        // show child of child list
        &.sfHover, &:hover {
          & > .__nav-list {
            left: 100%;
            margin-left: 0;
            top: 0;
          }
        }
      }

      a {
        border-left: none;
      }
    }
  }


  .main-site-navigation {
    background-color: $white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.06);
    display: block;
    min-height: 3.2em;

    .section-heading {
      @include hide(off-screen);
    }

    .__nav-item {

      display: table-cell;
      width: 1%;
      text-align: center;
      vertical-align: middle;

      a {
        border: none;
        color: $black;
        padding: 0;
      }

      &.active a {
        background-color: $white;
        color: $primarycolor;
      }
    }

    .__nav-parent.sfHover, .__nav-parent:hover {
      background-color: $lightneutralcolor;
      text-shadow: 0 1px 0 $white;

      a {
        color: darken($darkneutralcolor, 20%);
      }
    }

    .__nav-parent.sfHover .__nav-list, .__nav-parent:hover .__nav-list{
      background-color: $white;

      a {
        background-color: $white;
        border: none;

        &:hover {
          background-color: $lightneutralcolor ;
        }
      }
    }

    .__nav-list {

      .__nav-list {
        padding: ($vertical-gutter / 4) 0;
        border: 1px solid $neutralcolor;
        margin-top: 2px;
        box-shadow: 0 3px 7px rgba(0,0,0,0.2);
        text-align: left;
        width: 10em;

        .__nav-item {
          min-height: 0;
        }

        a {
          line-height: 1.8em;
          color: $black;
          text-align: left;
          padding: 0 ($horizontal-gutter / 2);
        }

        // arrows
        &:after,
        &:before {
        	bottom: 100%;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	left: 5px;
        	pointer-events: none;
        }

        &:after {
        	border-bottom-color: $white;
        	border-width: 5px;
        	margin-left: 0;
        }

        &:before {
        	border-bottom-color: $neutralcolor;
        	border-width: 6px;
        	margin-left: -1px;
        }

        .__nav-list {
      	  background: #ffffff;
          border: 1px solid $neutralcolor;
          margin-left: 10px;

          &:after,
          &:before {
          	left: (($horizontal-gutter / 2) - 2) * -1 ; // menu padding - border width
          	border: solid transparent;
          	content: " ";
          	height: 0;
          	width: 0;
          	position: absolute;
          	pointer-events: none;
          }

          &:after {
          	border-right-color: $white;
          	border-width: 5px;
          	top: 5px;
          }

          &:before {
          	border-right-color: $neutralcolor;
          	border-width: 6px;
          	top: 5px;
          	margin-top: -1px;
          	margin-left: -2px;
          }
        }
      }
    }
  }
}

@include breakpoint($bp4, max-width) {
  .main-site-navigation {
    position: fixed;
    top: 0;
    left: -$navMenuWidth;
    bottom: 0;
    width: $navMenuWidth;
    z-index: 3;
    overflow: scroll;
    border-right: 1px solid $secondarycolor;
  }

  .main-site-navigation,
  .main-site-navigation-handler-label {
    transition: left $transitionSpeed ease-in-out;
  }

  .main-site-navigation-handler-label {
    position: absolute;
    display: inline;
    text-align: center;
    z-index: 1;
    background-color: red;
    border: 1px solid orange;

    &:hover {
      cursor: pointer;
    }
  }

  .main-site-navigation-handler:checked {
    & ~ .main-site-navigation {
      left: 0;
    }

    & ~ .main-site-navigation-handler-label {
      left: $navMenuWidth;
    }
  }
}

//
// !Footer Navigation
// ==================
.footer-nav {
  .__nav-list {
    @extend %list-style-none;
  }

  .__nav-item {
    display: inline;

    a {
      color: $black;
      font-weight: 200;
    }
  }
}