<section class="colophon">
  <h2 class="section-header">Contact Information</h2>

  <div class="contact-info">
    <h3 class="contact-info__company">The Canadian Pairs</h3>
    <ul class="contact-info__list">
      <li class="contact-info__contact-name">Deb Westover</li>
      <li class="contact-info__contact-telephone"><a href="tel:1-800-764-6537">1-800 764-6537</a></li>
      <li class="contact-info__email-address"><a href="mailto:dwestover@insidegolf.ca">dwestover@insidegolf.ca</a></li>
    </ul>
  </div>

  <div class="contact-info">
    <h3 class="contact-info__company">Crown Isle Golf Resort</h3>
    <p>Contact Crown Isle's Group Sales Coordinator Maris Russell as soon as possible to confirm your room.</p>
    <ul class="contacat-info__list">
      <li class="contact-info__contact-name">Maris Russell</li>
      <li class="contact-info__contact-telephone">+1-888 338-8439</li>
      <li class="contact-info__email-address"><a href="mailto:mrsussel@crownisle.ca">mrussel@crownisle.ca</a></li>
    </ul>
  </div>
</section>