<footer class="footer" role="contentinfo">
  <div class="footer--twitter">
    <a href="http://twitter.com/{{site.twitter}}">Twitter</a>
  </div>

  <p class="footer__copyright">{% include fragment/html-copyright.html %}</p>

  <nav class="footer--footer-nav">
    <h2 class="footer-nav__header">Footer Menu</h2>

    <ul class="footer-nav__list">
      <li class="footer-nav__list__item">
        <a href="/tos">Terms of Service</a>
      </li><!--
   --><li class="footer-nav__list__item">
        <a href="/privacy">Privacy Agreement</a>
      </a>
    </ul>
  </nav>
</footer>