<nav class="main-site-nav">
  <h2 class="section-header">Main Site Navigation</h2>
  <ul class="main-site-nav__list">
    <li class="main-site-nav__item  {% if page.body-class contains"home" %}is-active{% endif %}"><a href="{{site.baseurl}}/"><span>Home</span></a></li><!--
 --><li class="main-site-nav__item  {% if page.body-class contains"schedule" %}is-active{% endif %}"><a href="{{site.baseurl}}/schedule"><span>Schedule</span></a></li><!--
 --><li class="main-site-nav__item  {% if page.body-class contains"rules" %}is-active{% endif %}"><a href="{{site.baseurl}}/rules"><span>Rules</span></a></li><!--
 --><li class="main-site-nav__item  {% if page.body-class contains"clubs" %}is-active{% endif %}"><a href="{{site.baseurl}}/clubs"><span>Clubs</span></a></li>
  </ul>
</nav>