<nav class="main-site-navigation">
  <h2 class="section-heading">Main Site Navigation</h2>

  <ul class="__nav-list">
    <li class="__nav-item  {% if page.class contains"home" %}active{% endif %}"><a href="#">Home</a></li><!--
 --><li class="__nav-item  __nav-parent  {% if page.class contains "about" %}active{% endif %}"><a href="http://google.com">About the Tournament</a><!--
   --><ul class="__nav-list"><!--
     --><li class="__nav-item"><a href="#">Why host an event</a></li><!--
     --><li class="__nav-item"><a href="#">Competing in an event</a></li><!--
     --><li class="__nav-item"><a href="#">Event history</a></li><!--
   --></ul><!--
 --></li><!--
 --><li class="__nav-item  __nav-parent"><a href="#">Details for the Canadian finals</a><!--
   --><ul class="__nav-list"><!--
     --><li class="__nav-item"><a href="#">Details</a></li><!--
     --><li class="__nav-item"><a href="#">Host facility</a></li><!--
     --><li class="__nav-item"><a href="#">Schedule</a></li><!--
     --><li class="__nav-item"><a href="#">Travel details</a></li><!--
     --><li class="__nav-item"><a href="#">Tournament rules</a></li><!--
   --></ul><!--
 --></li><!--
 --><li class="__nav-item  __nav-parent"><a href="#">FAQs & Info</a><!--
   --><ul class="__nav-list"><!--
     --><li class="__nav-item"><a href="#">FAQs</a></li><!--
     --><li class="__nav-item"><a href="#">Survey results</a></li><!--
     --><li class="__nav-item"><a href="#">Testimonials</a></li><!--
     --><li class="__nav-item"><a href="#">Competing clubs</a></li><!--
     --><li class="__nav-item  __nav-parent"><a href="#">FAQs & Info</a><!--
       --><ul class="__nav-list"><!--
         --><li class="__nav-item"><a href="#">FAQs</a></li><!--
         --><li class="__nav-item"><a href="#">Survey results</a></li><!--
         --><li class="__nav-item"><a href="#">Testimonials</a></li><!--
         --><li class="__nav-item"><a href="#">Competing clubs</a></li><!--
         --><li class="__nav-item  __nav-parent"><a href="#">FAQs & Info</a><!--
           --><ul class="__nav-list"><!--
             --><li class="__nav-item"><a href="#">FAQs</a></li><!--
             --><li class="__nav-item"><a href="#">Survey results</a></li><!--
             --><li class="__nav-item"><a href="#">Testimonials</a></li><!--
             --><li class="__nav-item"><a href="#">Competing clubs</a></li><!--
           --></ul><!--
         --></li><!--
       --></ul><!--
     --></li><!--
   --></ul><!--
 --></li><!--
 --><li class="__nav-item"><a href="#">Current news</a></li><!--
 --><li class="__nav-item"><a href="#">Contact</a></li>
  </ul>
</nav>