<nav class="main-site-nav  nav">
  <h2 class="nav__header">Navigation</h2>

  <ul class="nav__list">
    <li class="nav__item  {% if page.class contains"home" %}is-active{% endif %}"><a href="/">Home</a></li><!--
 --><li class="nav__item  is-parent {% if page.class contains "about" %}is-active{% endif %}"><a href="http://google.com">About the Tournament</a><!--
   --><ul class="nav__list"><!--
     --><li class="nav__item"><a href="#!whyhostandevent">Why host an event</a></li><!--
     --><li class="nav__item"><a href="#!competinginanevent">Competing in an event</a></li><!--
     --><li class="nav__item"><a href="#!eventhistory">Event history</a></li><!--
   --></ul><!--
 --></li><!--
 --><li class="nav__item  is-parent"><a href="#!detailsforthecanadianfinals">Details for the Canadian finals</a><!--
   --><ul class="nav__list"><!--
     --><li class="nav__item"><a href="#!details">Details</a></li><!--
     --><li class="nav__item"><a href="#!hostfacility">Host facility</a></li><!--
     --><li class="nav__item"><a href="#!schedule">Schedule</a></li><!--
     --><li class="nav__item"><a href="#!traveldetails">Travel details</a></li><!--
     --><li class="nav__item"><a href="#!tournamentrules">Tournament rules</a></li><!--
   --></ul><!--
 --></li><!--
 --><li class="nav__item  is-parent"><a href="#!faqsandinfo">FAQs & Info</a><!--
   --><ul class="nav__list"><!--
     --><li class="nav__item"><a href="#!faqs">FAQs</a></li><!--
     --><li class="nav__item"><a href="#!surveyresults">Survey results</a></li><!--
     --><li class="nav__item"><a href="#!testimonials">Testimonials</a></li><!--
     --><li class="nav__item"><a href="#!competingclubs">Competing clubs</a></li><!--
   --></ul><!--
 --></li><!--
 --><li class="nav__item"><a href="#!currentnews">Current news</a></li><!--
 --><li class="nav__item"><a href="#!contact">Contact</a></li>
  </ul>
</nav>