<section class="sponsors">
  <h2 class="sponsors__header">Sponsors</h2>

  <div class="sponsor inside-golf">
    <div class="sponsor__inner">
      <div class="sponsor__row--top">
        <div class="sponsor__cell--top-left">are you inside golf?</div><!--
     --><div class="sponsor__cell--top-center"></div><!--
     --><div class="sponsor__cell--top-right"></div>
      </div>
      <div class="sponsor__row--middle">
        <div class="sponsor__cell--middle-left"></div><!--
     --><div class="sponsor__cell--middle-center"></div><!--
     --><div class="sponsor__cell--middle-right"></div>
      </div>
      <div class="sponsor__row--bottom">
        <div class="sponsor__cell--bottom-left"></div><!--
     --><div class="sponsor__cell--bottom-center"></div><!--
     --><div class="sponsor__cell--bottom-right"></div>
      </div>
    </div>
  </div><!--

--><div class="sponsor-new inside-golf-new">
    <div class="sponsor__inner">
      <span class="tagline">are you inside golf?</span>
      <span class="logo"></span>
    </div>
  </div><!--

--><div class="sponsor">
    <div class="sponsor__inner">
      <div class="sponsor__row--top">
        <div class="sponsor__cell--top-left"></div><!--
     --><div class="sponsor__cell--top-center"></div><!--
     --><div class="sponsor__cell--top-right"></div>
      </div>
      <div class="sponsor__row--middle">
        <div class="sponsor__cell--middle-left"></div><!--
     --><div class="sponsor__cell--middle-center"></div><!--
     --><div class="sponsor__cell--middle-right"></div>
      </div>
      <div class="sponsor__row--bottom">
        <div class="sponsor__cell--bottom-left"></div><!--
     --><div class="sponsor__cell--bottom-center"></div><!--
     --><div class="sponsor__cell--bottom-right"></div>
      </div>
    </div>
  </div><!--

--><div class="sponsor">
    <div class="sponsor__inner">
      <div class="sponsor__row--top">
        <div class="sponsor__cell--top-left"></div><!--
     --><div class="sponsor__cell--top-center"></div><!--
     --><div class="sponsor__cell--top-right"></div>
      </div>
      <div class="sponsor__row--middle">
        <div class="sponsor__cell--middle-left"></div><!--
     --><div class="sponsor__cell--middle-center"></div><!--
     --><div class="sponsor__cell--middle-right"></div>
      </div>
      <div class="sponsor__row--bottom">
        <div class="sponsor__cell--bottom-left"></div><!--
     --><div class="sponsor__cell--bottom-center"></div><!--
     --><div class="sponsor__cell--bottom-right"></div>
      </div>
    </div>
  </div>

</section>





