<!-- Icons -->

<!--
Apple Touch Icons

3 ways to specify Touch Icons for iOS

1) No link tag:
   it is possible to skip the <link> tags to touch images completely.
   iOS will automatically search the root of the website for the icons
   the order of the search is:
     apple-touch-icon-57x57-precomposed.png
     apple-touch-icon-57x57.png
     apple-touch-icon-precomposed.png
     apple-touch-icon.png

2) Single Icon:
   iOS will resize 152px * 152px icon for all devices

3) Multiple Icon:
   serve iOS muliple icons - this allows for the designer to make sure
   certain icons will looks great at all sizes.
-->

<!-- Single Apple Touch Icon -->
<link rel="apple-touch-icon-precomposed" href="/assets/img/apple-touch-icon-152x152.png">

<!-- Multiple Apple Touch Icon -->
<!-- 1: 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<!-- 2: 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<!-- 3: 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<!-- 4: 144x144 (precomposed) for iPad 3rd and 4th generation -->
<!--
<link rel="apple-touch-icon-precomposed" href="/assets/img/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/apple-touch-icon-144x144.png">
-->


<!--iOS -->
<meta name="apple-mobile-web-app-title" content="{{ site.web-app-title }}">
<meta name="apple-mobile-web-app-capable" content="{{ site.web-app-capable }}">
<meta name="apple-mobile-web-app-status-bar-style" content="{{ site.web-app-style }}">

<!-- Startup images -->
<!-- 1: iPhone 3GS, pre-2011 iPod Touch -->
<!-- 2: iPhone 4, 4S and 2011 iPod Touch-->
<!-- 3: iPhone 5 and 2012 iPod Touch -->
<!-- 4: iPad landscape -->
<!-- 5: iPad Portrait -->
<link rel="apple-touch-startup-image" href="/assets/img/startup-320x460.png" media="screen and (max-device-width:320px)">
<link rel="apple-touch-startup-image" href="/assets/img/startup-640x920.png" media="(max-device-width:480px) and (-webkit-min-device-pixel-ratio:2)">
<link rel="apple-touch-startup-image" href="/assets/img/startup-640x1096.png" media="(max-device-width:548px) and (-webkit-min-device-pixel-ratio:2)">
<link rel="apple-touch-startup-image" href="/assets/img/startup-1024x748.png" media="screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:landscape)">
<link rel="apple-touch-startup-image" href="/assets/img/startup-768x1004.png" media="screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait)">

<!-- Windows 8 / RT -->
<meta name="msapplication-TileImage" content="/assets/img/apple-touch-icon-152x152.png">
<meta name="msapplication-TileColor" content="{{site.web-app-color}}">

<!-- Prevents links from opening in mobile Safari -->
<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>