{% include html/doctype.html %}
{% include html/license.html %}
<html class="no-js" lang="{{site.language}}">
{% include html/head.html %}

<body{% if page.body-class != null %} class="{{page.body-class}}"{% endif %}>

{% include elements/nav.html %}

{% include elements/header.html %}

<main class="main-section  [ container ]">
    <div class="[ row ]">
        <div class="[ col-xs-12 ]">
            <h1>{{page.title}}</h1>
        </div>
    </div>
    <div class="main-content  [ row ]">
        <div class="[ col-xs-12 ]">
            {{content}}
        </div>
    </div>
</main>

{% include elements/colophon.html %}

{% include elements/footer.html %}

{% include scripts.html %}
{% include html/analytics.html %}
