{% include html/doctype.html %}
{% include html/license.html %}
{% include html/conditional.html %}
{% include html/head.html %}

<body {% if page.body-class != null %}class="{{page.body-class}}"{% endif %}>

  <div class="page-wrapper">

    <!-- Menu Collapse Handler -->
    <input type="checkbox" name="main-site-nav__handler" id="main-site-nav__handler" class="main-site-nav__handler" onclick="null" />
    <label for="main-site-nav__handler" class="main-site-nav__handler__label" href="#" aria-label="Toggle Navigation">
      <span class="lines"></span>
    </label>


    {% include elements/nav.html %}

    {% include elements/header.html %}

    <div class="main">
      {{content}}
    </div>

    {% include elements/colophon.html %}

    {% include elements/footer.html %}

    {% include html/scripts.html %}
    {% include html/analytics.html %}

  </div>